---
Language: Cpp
# Defines the C++ language standard to use (e.g., Cpp11, Cpp14, Cpp17, Cpp20)
Standard: Cpp11

# Use tabs for indentation instead of spaces
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4

# Break before braces on functions, classes, and namespaces
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true

BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: false

# Column limit for 120 characters
ColumnLimit: 120

# Include categories for sorting and ordering #includes
IncludeCategories:
  - Regex:           '^"(llvm|llvm-c|clang|clang-c)/'
    Priority:        2
  - Regex:           '^(<|"(gtest|gmock|isl|json)/)'
    Priority:        3
  - Regex:           '.*'
    Priority:        1
IncludeIsMainRegex: '([-_](test|unittest))?$'
SortIncludes:    true

# Pointer and reference alignment
PointerAlignment: Left
DerivePointerAlignment: false

# Space before assignment operators, not after C style casts
SpaceBeforeAssignmentOperators: true
SpaceAfterCStyleCast: false

# Control the spaces around operators and other tokens
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: true
SpaceBeforeCpp11BracedList: true

# Alignment for consecutive assignments or declarations
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true

# Indent preprocessor directives
IndentPPDirectives: AfterHash

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

# Parameters for comments
AlignTrailingComments: true

# Max consecutive empty lines to keep
MaxEmptyLinesToKeep: 1
